/* cyrillic-ext */
@font-face
{
    font-family: 'PT Mono';
    font-weight: 400;
    font-style: normal;

    src: local('PT Mono'), local('PTMono-Regular'), url(./fonts/71D43E_ZpjerHAsyF2SPuFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face
{
    font-family: 'PT Mono';
    font-weight: 400;
    font-style: normal;

    src: local('PT Mono'), local('PTMono-Regular'), url(./fonts/EgJGySadPCEUe4oNA9kAslKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face
{
    font-family: 'PT Mono';
    font-weight: 400;
    font-style: normal;

    src: local('PT Mono'), local('PTMono-Regular'), url(./fonts/Tirh6-ADimy_yvdLtBSHsVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face
{
    font-family: 'PT Mono';
    font-weight: 400;
    font-style: normal;

    src: local('PT Mono'), local('PTMono-Regular'), url(./fonts/G-CKroWfxRiFDKkMmCHyAgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body
{
    font-family: PT Mono, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;

    margin: 0;
}

header
{
    padding: 10px 15px;

    text-align: center;

    border-bottom: 3px solid #bf1c5b;
    background: #e22b69;
}

h1
{
    line-height: 54px;

    margin: 0;

    color: #fff;
}

h2
{
    font-size: 1em;

    padding: 0 15px;

    color: #3187f1;
}

.yandex-logo
{
    margin-left: 5px;
}

.main__desc
{
    line-height: 24px;

    padding: 0 15px;
}

.sponsor
{
    margin-bottom: 0;
}

section > ul
{
    padding: 0 15px;

    list-style: none;
}

.person
{
    line-height: 1.5;

    margin-bottom: 30px;
}

.person::after
{
    display: block;
    clear: both;

    content: '';
}

.person__info
{
    margin-left: 100px;
}

.person__name
{
    font-weight: 700;

    margin-left: 100px;
}

.lecture
{
    line-height: 1.5;

    margin-bottom: 30px;
}

.person__photo,
.lecture__photo
{
    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    width: 80px;
    height: 80px;

    border: 1px solid #c1175a;
}

.lecture__time
{
    margin-bottom: 10px;

    color: #3187f1;
}

.lecture__photo
{
    margin-right: 20px;
    margin-bottom: 10px;
}

.lecture__speaker
{
    font-size: .9em;
    line-height: 24px;

    overflow: hidden;

    margin-bottom: 20px;
    padding-right: 45px;

    color: #646464;
}

.lecture__name
{
    font-size: 1.2em;
    font-weight: 700;
    line-height: 32px;

    overflow: hidden;

    min-width: 280px;
    margin-bottom: 10px;
    padding-right: 60px;

    text-transform: uppercase;

    color: #8b063a;
}

.lecture__desc
{
    clear: left;
}

hr
{
    color: #3187f1;
    border-width: 4px;
    border-style: dashed;
}

@media (max-width: 375px)
{
    h1
    {
        font-size: 1.5em;
    }
}

.section-header
{
    line-height: 1.5;

    margin-top: 0;

    color: #fff;
    background: #3187f1;
}
