body
{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;

    margin: 0;
}

header
{
    padding: 15px 0;

    text-align: left;

    background: url(images/bg.png);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1);
}

h1
{
    line-height: 54px;

    margin: 0;

    color: #fff;
}

h2
{
    font-size: 40px;
    font-weight: 400;

    padding: 0 15px;
    margin-bottom: 10px;
}

.yandex-logo
{
    margin-left: 5px;
}

.main__desc
{
    line-height: 24px;

    padding: 0 15px;
}

.sponsor
{
    margin-bottom: 0;
}

section > ul
{
    padding: 0 15px;

    list-style: none;
}

.person
{
    line-height: 1.5;

    margin-bottom: 30px;
}

.person::after
{
    display: block;
    clear: both;

    content: '';
}

.person__info
{
    margin-left: 100px;
}

.person__name
{
    font-weight: 700;

    margin-left: 100px;
}

.lecture
{
    line-height: 1.5;

    margin-bottom: 20px;
}

.person__photo,
.lecture__photo
{
    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.lecture__time
{
    margin-bottom: 5px;

    color: rgba(0,0,0,.7);;
}

.lecture__photo
{
    margin-right: 20px;
    margin-bottom: 10px;
}
.lecture__name_out_program
{
    color: rgba(0,0,0,.7);;
}

.lecture__speaker
{
    font-size: .9em;
    line-height: 24px;

    overflow: hidden;

    min-height: 80px;
    margin-bottom: 20px;
    padding-right: 45px;

    color: #646464;
}

.lecture__name
{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 32px;

    overflow: hidden;

    min-width: 280px;
    margin-bottom: 10px;
    padding-right: 60px;

    text-transform: uppercase;
}

.lecture__desc
{
    clear: left;
}

hr
{
    color: #3187f1;
    border-width: 4px;
    border-style: dashed;
}

@media (max-width: 375px)
{
    h1
    {
        font-size: 1.5em;
    }
}

.section-header
{
    line-height: 1.1;

    margin-top: 0;
}
