<!DOCTYPE html>
<html>
<head>
    <title>Check speed</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="desc-index">
    Пожалуйста, выключите интернет
</div>
<a class="button hidden" href="index-offline.html">ВСЕ РАВНО ИГРАТЬ</a>
<script src="/javascripts/index.js"></script>
</body>
</html>
